<template>
  <v-container>
    <v-card color="#82B1FF" theme="dark" width="300">
      <div>
        <div>
          <v-card-title class="text-h5">
            {{ foodName }}
          </v-card-title>

          <v-card-subtitle>Price:{{ price }}</v-card-subtitle>

          <v-card-actions>
            <v-btn
              class="ml-2"
              variant="outlined"
              size="small"
              @click="addToCart"
            >
              Add
            </v-btn>
          </v-card-actions>
        </div>

        <v-avatar class="ma-3" size="200" rounded="0">
          <v-img :src="image"></v-img>
        </v-avatar>
      </div>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: ["id", "foodName", "hotelName", "price", "image"],

  methods: {
    addToCart() {
      this.$store.dispatch("cart/addToCart", {
        id: this.id,
      });
    },
  },
};
</script>
