<template>
  <div>
    <v-container>
      <div class="d-flex flex-column mb-0">
        <div>
          <v-card
            color="#82B1FF"
            class="d-flex justify-center mb-6"
            theme="light"
            width="300"
          >
            <v-card-subtitle class="d-flex justify-center mb-6">
              {{ cartQuantity }} <br />
              {{ totalAmount }}
            </v-card-subtitle>

            <v-card-actions>
              <v-btn
                @click="checkout"
                class="ml-2"
                variant="outlined"
                size="small"
                >Check Out
              </v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </div>
    </v-container>
    <v-list>
      <addto-cart
        v-for="food in cartItems"
        :key="food.foodId"
        :id="food.foodId"
        :foodName="food.foodName"
        :image="food.image"
        :price="food.price"
        :qty="food.qty"
      ></addto-cart>
    </v-list>
  </div>
</template>
<script>
import AddtoCart from "../../components/AddtoCart/AddtoCart.vue";
export default {
  components: {
    AddtoCart,
  },

  computed: {
    cartItems() {
      return this.$store.getters["cart/fooditems"];
    },
    cartQuantity() {
      if (this.$store.getters["cart/quantity"] === 0) {
        return "";
      } else return this.$store.getters["cart/quantity"] + " " + "items";
    },
    totalAmount() {
      const result = this.$store.getters["cart/totalSum"];

      if (result === 0) {
        return "No item in your cart";
      } else {
        return "Total Amount :" + this.$store.getters["cart/totalSum"] + "/-";
      }
    },
  },
  methods: {
    checkout() {
      const result = this.$store.getters["cart/totalSum"];
      if (result === 0) {
        return window.alert("No items in your cart please check menu");
      } else return window.alert("Your order placed sucessfully");
    },
  },
};
</script>
