<template>
  <v-container>
    <v-card color="#82B1FF" theme="dark" width="300">
      <div class="d-flex flex-column mb-0">
        <div>
          <v-card-actions class="justify-end">
            <v-btn
              class="text"
              variant="outlined"
              size="small"
              @click="closeitem"
            >
              <v-icon color="red">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
          <v-card-title class="text-h5">
            {{ foodName }}
          </v-card-title>

          <v-card-subtitle>Price:{{ price }}</v-card-subtitle>
          <v-card-subtitle
            >Total cost per item: {{ itemTotal }}</v-card-subtitle
          >

          <v-card-actions>
            <v-btn
              class="ml-2"
              variant="outlined"
              size="small"
              @click="addToCart"
            >
              +
            </v-btn>
            <v-btn class="text" variant="outlined" size="small">
              {{ qty }}
            </v-btn>

            <v-btn
              class="ml-2"
              variant="outlined"
              size="small"
              @click="decitem"
            >
              -
            </v-btn>
          </v-card-actions>
        </div>

        <v-avatar class="ma-3" size="125" rounded="0">
          <v-img :src="image"></v-img>
        </v-avatar>
      </div>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: ["fId", "foodName", "image", "price", "qty", "id"],
  computed: {
    itemTotal() {
      return (this.price * this.qty).toFixed(2);
    },
  },
  methods: {
    addToCart() {
      this.$store.dispatch("cart/addToCart", {
        id: this.id,
      });
    },
    decitem() {
      this.$store.dispatch("cart/decrement", {
        id: this.id,
      });
    },
    closeitem() {
      this.$store.dispatch("cart/closeItem", {
        id: this.id,
      });
    },
  },
};
</script>
