<template>
  <div>
    <span class="bg"></span>
    <v-layout>
      <v-app-bar
        absolute
        color="#0D47A1"
        dark
        shrink-on-scroll
        prominent
        scroll-target="#scrolling-techniques-3"
      >
        <div>
          <v-btn to="/AllFood" class="ma-2 pa-2">Menu</v-btn>
          <v-btn to="/Cart" class="ma-2 pa-2"> AddCart</v-btn>
        </div>

        <v-spacer></v-spacer>

        <v-badge color="transparent" location="top-left" overlap>
          {{ cartQuantity }}
          <v-btn icon @click="$router.push('/Cart')">
            <v-icon>mdi-cart</v-icon>
          </v-btn>
        </v-badge>
        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </v-app-bar>
      <v-main> </v-main>
    </v-layout>
  </div>
</template>
<script>
export default {
  computed: {
    cartQuantity() {
      return this.$store.getters["cart/quantity"];
    },
  },
};
</script>
<style scoped>
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: white;
  transform: scale(1.1);
}
</style>
