<template>
  <v-app>
    <the-header></the-header>
    <router-view></router-view>
  </v-app>
</template>

<script>
import TheHeader from "./components/layout/TheHeader.vue";

export default {
  components: {
    TheHeader,
  },
};
</script>
