<template>
  <div>
    <v-list>
      <food-menu
        v-for="prod in foodMenu"
        :key="prod.id"
        :id="prod.id"
        :foodName="prod.foodName"
        :hotelName="prod.hotelName"
        :image="prod.image"
        :price="prod.price"
      ></food-menu>
    </v-list>
  </div>
</template>
<script>
import FoodMenu from "../../components/Food/FoodMenu.vue";

export default {
  components: {
    FoodMenu,
  },
  computed: {
    foodMenu() {
      return this.$store.getters["allfood/fooditems"];
    },
  },
};
</script>
